<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          id="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors } || invalid"
        />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['pattern']">Invalid Email</div>
          <div *ngIf="f['email'].errors['maxlength']">Email is too Long</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          formControlName="userName"
          class="form-control"
          id="username"
          [ngClass]="
            { 'is-invalid': submitted && f['userName'].errors } || invalid
          "
        />
        <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
          <div *ngIf="f['userName'].errors['required']">
            Username is required
          </div>
          <div
            *ngIf="
              f['userName'].errors['minlength'] ||
              f['userName'].errors['maxlength']
            "
          >
            Username must be between 4 and 12 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          class="form-control"
          [value]="generatedPassword ? password: ''"
          [ngClass]="
            { 'is-invalid': submitted && f['password'].errors } || invalid
          "
        />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="submitted && f['password'].errors['required']">
            Password is required. Note: If password is generated click show then copy and repaste password in the field
          </div>
          <div *ngIf="f['password'].errors['minlength'] ||
                      f['password'].errors['maxlength'] " >
            Password must be between 6 to 20 characters
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-secondary "
        (click)="showHidePassword()"
      >
        {{ showPassword ? "Hide" : "Show" }} Password
      </button>
      <button type="button" class="btn btn-secondary m-1" (click)="genPassword()">Generate Password</button>
      <div *ngIf="invalid">Email, Username, or Password is already in use</div>
      <pre></pre>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Register
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
